<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/reset.css' />
  </head>
  <body>
    <div class="desktop">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      데스크톱 모드는 지원하지 않습니다.
    </div>

    <div class="mobile_wrap">
      <%- body %>
      <nav id="nav">
        <ul>
          <li><a href="/">홈</a></li>
          <li><a href="/mypage">마이</a></li>
          <li><a href="/schedule">일정</a></li>
          <li><a href="/board">게시판</a></li>
          <li><a href="/chat">채팅</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>
